<nav class="navbar navbar-expand-lg sticky-top ">
  <div class="container">
      <a class="navbar-brand" routerLink="/"> <img src="assets/img/LOGO.png" class="Img" alt=""> </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link text-white" id="optNavContacto" aria-current="page"
                  href="#contactenos">Cont&aacute;ctanos <i class="fa-solid fa-phone-volume"></i></a>
          </li>
            <li class="nav-item opcionNav">
              <a class="nav-link active text-white" aria-current="page" routerLink="/perros">Para perros <i
                  class="fa-solid fa-dog"></i></a>
          </li>
          <li class="nav-item opcionNav ">
              <a class="nav-link active text-white" aria-current="page" routerLink="/gatos">Para gatos <i
                      class="fa-solid fa-cat"></i></a>
          </li>
          </ul>
          <div class="input-group mb-3 w-auto pt-3">
              <input type="text" class="form-control" placeholder="¿Qu&eacute; necesitas hoy?">
              <span class="input-group-text bg-light" id="basic-addon2"><i
                      class="fa-solid fa-magnifying-glass"></i></span>
          </div>
          <ul class="navbar-nav mb-2 mb-lg-0 d-flex">
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                      aria-expanded="false">
                      Mi cuenta
                  </a>
                  <ul class="dropdown-menu">
                      <li><button class="btn btn-light bg-light w-100" type="button" data-bs-toggle="offcanvas"
                              data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Iniciar
                              Sesion</button>

                      </li>
                      <li>
                          <!-- Button trigger modal -->
                          <button type="button" class="btn btn-light bg-light w-100" data-bs-toggle="modal"
                              data-bs-target="#exampleModal">
                              Registrate
                          </button>

                          <!-- Modal -->
                      </li>
                  </ul>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white " href="#">Carrito <i class="fa-solid fa-cart-shopping"></i></a>
              </li>
          </ul>

      </div>
  </div>
</nav>
<section>
  <!--Iniciar sesion-->
  <div class="offcanvas offcanvas-end InisioSesion  " tabindex="-1" id="offcanvasRight"
      aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header  justify-content-start align-items-start">

          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
          <div class=" text-center">
              <div>
                  <img src="assets/img/IniciarSesion.png" class="w-25" alt="">
                  <h6>Iniciar sesión</h6>
              </div>
          </div>

          <div class="pt-5">
              <form [formGroup]="navForm" (ngSubmit)="iniciarSesion()">
                  <div class="ms-5 ps-3 w-75">
                      <div class="mb-3  w-100">
                          <label for="exampleFormCon5trolInput1" class="form-label">Tu usuario</label>
                          <input type="text" formControlName="usuario" class="form-control" placeholder="name@example.com">
                          <span *ngIf="navForm.get('usuario')?.hasError('required') && navForm.get('usuario')?.touched" class="text-bg-danger ps-1 fw-bold" >Tu correo es necesario</span>
                      </div>
                      <div class="mb-3  w-100">
                          <label for="exampleFormControlInput2" class="form-label">Tu contraseña</label>
                          <input type="text" formControlName="contraseña"  class="form-control" placeholder="contraseña">
                          <span *ngIf="navForm.get('contraseña')?.hasError('required') && navForm.get('contraseña')?.touched" class="text-bg-danger ps-1 fw-bold" >Tu contraseña es necesaria</span>
                      </div>

                  </div>
                  <div class="text-center">
                      <button type="button" class="btn colorinicio text-white  px-4 ms-4"
                          data-bs-dismiss="offcanvas" aria-label="Close">Entrar</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
  <!--Registro-->
  <div class=" ">
      <div class="modal fade cajaregistro" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">

                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body p-5">
                      <div class="text-center">
                          <form [formGroup]="navForm" (ngSubmit)="iniciarSesion()">
                              <h1 class="Colortext">Registrate</h1>
                              <p class="Colortext">para acceder a los productos de nuestra tienda</p>
                              <input type="text" formControlName="nombre" class="form-control mb-3" name="" id="" placeholder="Tu nombre">
                              <span *ngIf="navForm.get('nombre')?.hasError('required') && navForm.get('nombre')?.touched" class="text-bg-danger ps-1 fw-bold" >Tu nombre es necesario</span>
                              <input type="text" formControlName="apellido" class="form-control mb-3" name="" id="" placeholder="Tu apellido">
                              <span *ngIf="navForm.get('apellido')?.hasError('required') && navForm.get('apellido')?.touched" class="text-bg-danger ps-1 fw-bold" >Tu apellido es necesario</span>
                              <div class="d-flex">
                                  <input type="email" formControlName="correo" class="form-control w-50 mb-3 me-1" placeholder="Tu correo eletronico">
                                  <span *ngIf="navForm.get('correo')?.hasError('required') && navForm.get('correo')?.touched" class="text-bg-danger ps-1 fw-bold" >Tu correo es necesario</span>
                                  <input type="tel" formControlName="celular" class="form-control w-50 mb-3" placeholder="Tu numero de celular">
                                  <span *ngIf="navForm.get('celular')?.hasError('required') && navForm.get('celular')?.touched" class="text-bg-danger ps-1 fw-bold" >Tu n&uacute;mero es necesario</span>
                              </div>
                              <div class="d-flex">
                                  <input type="text" formControlName="nombremascota" class="form-control w-50 mb-3" placeholder="Nombre de tu mascota">
                                  <span *ngIf="navForm.get('nombremascota')?.hasError('required') && navForm.get('nombremascota')?.touched" class="text-bg-danger ps-1 fw-bold" >El nombre de tu mascota es necesario</span>
                                  <div class="form-check ms-4">
                                      <label class="form-check-label" for="flexRadioDefault1">
                                          Perro
                                      </label>
                                      <input class="form-check-input" type="radio" name="flexRadioDefault"
                                          id="flexRadioDefault1">

                                  </div>
                                  <div class="form-check ms-4">
                                      <label class="form-check-label" for="flexRadioDefault2">
                                          Gato
                                      </label>
                                      <input class="form-check-input" type="radio" name="flexRadioDefault"
                                          id="flexRadioDefault2" checked>

                                  </div>
                              </div>
                              <input type="password" formControlName="contraseñas" class="form-control mb-3" placeholder="Crea tu contraseña">
                              <span *ngIf="navForm.get('contraseñas')?.hasError('required') && navForm.get('contraseñas')?.touched" class="text-bg-danger ps-1 fw-bold" >Tu contraseña es necesaria</span>
                              <input type="password" formControlName="confirmacioncontraseña" class="form-control mb-3" placeholder="Confirma tu contraseña">
                              <span *ngIf="navForm.get('confirmacioncontraseña')?.hasError('required') && navForm.get('confirmacioncontraseña')?.touched" class="text-bg-danger ps-1 fw-bold" >La confirmación de tu contraseña es necesaria</span>
                          </form>
                      </div>
                  </div>
                  <div class="modal-footer justify-content-center align-items-center">
                      <button type="button" class="btn coloregistro w-75 text-white fw-bold">Registrame</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

