.miFooter {
  background-color: #FFDB1C;
}

.miFooter ul li i, h6 {
  color: #1B3B6F;
  font-size: 12px;
  font-weight: bold;

}

.miFooter ul li {
  color: #1B3B6F;
  font-size: 12px;
  font-weight: bold;


}
.miFooter ul li a i {
  font-size: 20px;

}
.texto {
  color: #1B3B6F;
}

