<div>
<div class="fixed-bottom  text-end p-4 mb-5 w-100">
  <a href="https://chat.whatsapp.com/HR5WYDVgo3M8yBCd9O9YcT" target="_blank"
      class="text-decoration-none"><span class="Colortext bg-light p-2 rounded-2 ">¿Necesitas
          ayuda?</span><img src="assets/img/Chat icon.png" width="80" height="70"></a>
</div>

</div>
<section>
<footer class="miFooter d-flex me-auto mb-2 mb-lg-0">
  <div class="container d-flex justify-content-between me-auto mb-2 mb-lg-0 mt-4">
      <div class="d-flex">
          <div>
              <h6>Nuestras sedes</h6>
              <ul class="list-unstyled">
                  <li>Calle 100</li>
                  <li>Calle 50</li>
              </ul>
          </div>
          <div class="d-flex ms-5">
              <h6>S&iacute;guenos</h6>
              <ul class="d-flex list-unstyled">
                  <li class="ms-2">
                      <a href="#"><i class="fa-brands fa-facebook"></i></a>
                  </li>
                  <li class="ms-2">
                      <a href="#"><i class="fa-brands fa-twitter"></i></a>
                  </li>
                  <li class="ms-2">
                      <a href="#"><i class="fa-brands fa-instagram"></i></a>
                  </li>
              </ul>
          </div>
      </div>
      <div class="texto fw-bold">
          <p>Bogot&aacute;, Colombia</p>
      </div>
  </div>
</footer>
</section>

