<section class="container">
  <div class="row">
    <div class="col-12 text-center pt-5  ">
      <div class="Pets">
        <h3 class="fw-bold">Lista de productos</h3>

      </div>
    </div>
  </div>
</section>

<section class="container">
  <div class="d-flex justify-content-end mb-3">
      <button type="button" class="btn  botonadministrador" routerLink="creacionproducto">Crear producto</button>
  </div>
  <table class="table">
      <thead>
          <tr>
              <th scope="col" class="text-center">Imagen</th>
              <th scope="col" class="text-center">Nombre</th>
              <th scope="col" class="text-center">Precio</th>
              <th scope="col" class="text-center">Acciones</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>
                  <img class="w-50" alt="">
              </td>
              <td>
                  <h5></h5>
              </td>
              <td></td>
              <td>
                  <button class="btn btn-info mx-3" >
                      <i class="fa-solid fa-pen"></i>
                  </button>
                  <button class="btn btn-danger mx-3">
                      <i class="fa-solid fa-trash"></i>
                  </button>
              </td>
          </tr>
      </tbody>
  </table>
</section>
