<section class="container">
  <h5 class="pt-5 fw-bold ">Para gatos</h5>
</section>

<div class="container w-75">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div id="document" *ngFor="let producto of listaProductos; let i=index" class='col-lg-4  col-sm-12'>
        <div *ngIf="producto.categoria === 'gato'">
          <div class='card h-100'>
            <img src="{{producto.url}}" class="card-img-top w-50 mt-3 rounded mx-auto d-block" alt="..."><br>
            <div class="card-body">
              <h6 class="card-title fs text-center">{{producto.nombreProducto}}</h6>
              <p class="precio text-center">{{producto.precio}}</p>



              {{

              filtrarGato(producto.categoria, producto)

              }}

              <div class="input-group mb-3 px-5">
                <span class="input-group-text" id="btnQuitar" (click)="quitarCantidad(i)">-</span>
                <input [(ngModel)]="producto.cantidad" type="number" class="form-control text-center" placeholder="0"
                  id="textCantidad" aria-label="Amount (to the nearest dollar)">
                <span class="input-group-text" id="btnAgregar" (click)="agregarCantidad(i)">+</span>
              </div>
              <button type="button"
                class="btn text-white fw-bold w-50 boton1 d-flex justify-content-center align-items-center">Agregar</button>
            </div>

          </div>
        </div>
      </div>

    </div>

  </div>
</div>
