<section class="container">
  <h5 class="pt-5 fw-bold ">Para gatos</h5>
</section>

<div class="container w-75">
  <div class="row d-flex justify-content-center align-items-center">

      <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col-lg-4  col-sm-12 ">
              <div class="card h-100">
                  <img src="assets/img/producto-1-gatos.png" class="card-img-top w-50 mt-3 rounded mx-auto d-block"
                      alt="..."><br>
                  <div class="card-body">
                      <h6 class="card-title fs text-center">Smoking para gatos</h6>
                      <p class="precio text-center">$ 113.000</p>

                      <div class="input-group mb-3 px-5">
                          <span class="input-group-text">-</span>
                          <input type="text" class="form-control text-center" placeholder="0"
                              aria-label="Amount (to the nearest dollar)">
                          <span class="input-group-text">+</span>
                      </div>
                      <button type="button"
                          class="btn text-white fw-bold w-50 boton1 d-flex justify-content-center align-items-center">Agregar</button>
                  </div>

              </div>
          </div>
          <div class="col-lg-4  col-sm-12 ">
              <div class="card h-100">
                  <img src="assets/img/producto-2-gatos.png" class="card-img-top w-50 mt-3 rounded mx-auto d-block"
                      alt="..."><br>
                  <div class="card-body">
                      <h6 class="card-title text-center">Buzo de invierno para gatos</h6>
                      <p class="precio text-center">$ 95.000</p>
                      <div class="input-group mb-3 px-5">
                          <span class="input-group-text">-</span>
                          <input type="text" class="form-control text-center" placeholder="0"
                              aria-label="Amount (to the nearest dollar)">
                          <span class="input-group-text">+</span>
                      </div>
                      <button type="button"
                          class="btn text-white fw-bold w-50 boton1 d-flex justify-content-center align-items-center">Agregar</button>
                  </div>

              </div>
          </div>
          <div class="col-lg-4  col-sm-12 ">
              <div class="card h-100">
                  <img src="assets/img/producto-3-gatos.png" class="card-img-top w-50 mt-3 rounded mx-auto d-block"
                      alt="..."><br>
                  <div class="card-body">
                      <h6 class="card-title text-center">Sueter para gatos</h6>
                      <p class="precio text-center">$ 96.000</p>
                      <div class="input-group mb-3 px-5">
                          <span class="input-group-text">-</span>
                          <input type="text" class="form-control text-center" placeholder="0"
                              aria-label="Amount (to the nearest dollar)">
                          <span class="input-group-text">+</span>
                      </div>
                      <button type="button"
                          class="btn text-white fw-bold w-50 boton1 d-flex justify-content-center align-items-center">Agregar</button>
                  </div>

              </div>
          </div>
      </div>
  </div>
</div>


<div class="container w-75">
  <div class="row d-flex justify-content-center align-items-center">

      <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col-lg-4  col-sm-12 ">
              <div class="card h-100">
                  <img src="assets/img/producto-4-gatos.png" class="card-img-top w-50  mt-3 rounded mx-auto d-block"
                      alt="..."><br>
                  <div class="card-body">
                      <h6 class="card-title text-center">Sudadera azul para gatos</h6>
                      <p class="precio text-center">$ 85.000</p>
                      <div class="input-group mb-3 px-5">
                          <span class="input-group-text">-</span>
                          <input type="text" class="form-control text-center" placeholder="0"
                              aria-label="Amount (to the nearest dollar)">
                          <span class="input-group-text">+</span>
                      </div>
                      <button type="button"
                          class="btn text-white fw-bold w-50 boton1 d-flex justify-content-center align-items-center">Agregar</button>

                  </div>

              </div>
          </div>
          <div class="col-lg-4  col-sm-12 ">
              <div class="card h-100">
                  <img src="assets/img/producto-5-gatos.png" class="card-img-top w-50 mt-3 rounded mx-auto d-block"
                      alt="..."><br>
                  <div class="card-body">
                      <h6 class="card-title text-center">Buzo a rayas blanco y negro</h6>
                      <p class="precio text-center">$ 65.000</p>
                      <div class="input-group mb-3 px-5">
                          <span class="input-group-text">-</span>
                          <input type="text" class="form-control text-center" placeholder="0"
                              aria-label="Amount (to the nearest dollar)">
                          <span class="input-group-text">+</span>
                      </div>
                      <button type="button"
                          class="btn text-white fw-bold w-50 boton1 d-flex justify-content-center align-items-center">Agregar</button>
                  </div>

              </div>
          </div>
          <div class="col-lg-4  col-sm-12 ">
              <div class="card h-100">
                  <img src="assets/img/producto-6-gatos.png"
                      class="card-img-top w-50 mt-3 rounded mx-auto d-block imgf" alt="...">
                  <div class="card-body">
                      <h6 class="card-title text-center">Conjunto de verano para gatos</h6>
                      <p class="precio text-center">$ 120.000</p>
                      <div class="input-group mb-3 px-5">
                          <span class="input-group-text">-</span>
                          <input type="text" class="form-control text-center" placeholder="0"
                              aria-label="Amount (to the nearest dollar)">
                          <span class="input-group-text">+</span>
                      </div>
                      <button type="button"
                          class="btn text-white fw-bold w-50 boton1 d-flex justify-content-center align-items-center">Agregar</button>
                  </div>

              </div>
          </div>
      </div>
  </div>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination mt-3 justify-content-center">
      <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
          </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
          </a>
      </li>
  </ul>
</nav>
