<section class="container">
  <div class="row">
    <div class="col-12 text-center pt-5  ">
      <div class="Pets">
        <h3 class="fw-bold">Bienvenido a Fashion Pets</h3>
        <p class="">En nuestra tienda podrás encontrar increíbles productos para tu mascota. Somos
          especialistas en creación de prendas innovadoras para perros y gatos. Con Fashion Pets, ¡tu
          mascota luce siempre bien!
        </p>

      </div>
    </div>
  </div>
</section>
<section class="container">
  <h5 class="Colortext fw-bold">Nuestra tienda</h5>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <img src="../../../assets/img/banner-tienda-perros.png">
      <a routerLink="/perros"
            class="text-decoration-none Colortext bg-light bg-opacity-50 fs-2 px-3 rounded-top">Para
            perros</a>
    </ng-template>
    <ng-template carouselSlide>
      <img src="../../../assets/img/banner-tienda-gato.png">
      <a routerLink="/gatos"
            class="text-decoration-none Colortext bg-light bg-opacity-50 fs-2 px-3 rounded-top">Para
            gatos</a>
    </ng-template>
    <ng-template carouselSlide>
      <img src="../../../assets/img/banner-tienda-perros2.png">
      <a routerLink="/perros"
      class="text-decoration-none Colortext bg-light bg-opacity-50 fs-2 px-3 rounded-top">Para
      perros</a>
    </ng-template>
    <ng-template carouselSlide>
      <img src="../../../assets/img/banner-tienda-gato2.png">
      <a routerLink="/gatos"
      class="text-decoration-none Colortext bg-light bg-opacity-50 fs-2  px-3 rounded-top"> Para
      gatos</a>
    </ng-template>
    <ng-template carouselSlide>
      <img src="../../../assets/img/banner-tienda-perros3.png">
      <a routerLink="/perros"
      class="text-decoration-none Colortext bg-light bg-opacity-50 fs-2  px-3 rounded-top"> Para
      perros</a>
    </ng-template>
    <ng-template carouselSlide>
      <img src="../../../assets/img/banner-tienda-gato3.png">
      <a routerLink="/gatos"
      class="text-decoration-none Colortext bg-light bg-opacity-50 fs-2  px-3 rounded-top"> Para
      gatos</a>
    </ng-template>
  </owl-carousel-o>



  <!-- <section class="row ">
    <div class="col-lg-6 col-sm-12 mb-3 ">
      <div class="carruselInicio ">

  <div style="background-image: url('assets/img/banner-tienda-perros.png')" class="fondo1 d-flex justify-content-center align-items-end">
          <a routerLink="/perros"
            class="text-decoration-none Colortext bg-light bg-opacity-50 fs-2 px-3 rounded-top">Para
            perros</a>
        </div>
        <div style="background-image: url('assets/img/banner-tienda-perros2.png')" class="fondo2 d-flex justify-content-center align-items-end">
          <a routerLink="/perros"
            class="text-decoration-none Colortext bg-light bg-opacity-50 fs-2 px-3 rounded-top">Para
            perros</a>
        </div>
        <div style="background-image: url('assets/img/banner-tienda-perros3.png')" class="fondo3 d-flex justify-content-center align-items-end">
          <a routerLink="/perros"
            class="text-decoration-none Colortext bg-light bg-opacity-50 fs-2 px-3 rounded-top">Para
            perros</a>
        </div>

      </div>
    </div>
    <div class="col-lg-6 col-sm-12 ">
      <div class="carruselInicio2 ">
        <div style="background-image: url('assets/img/banner-tienda-gato.png')" class="fondo2-1 d-flex justify-content-center align-items-end">
          <a routerLink="/gatos"
            class="text-decoration-none Colortext bg-light bg-opacity-50 fs-2  px-3 rounded-top"> Para
            gatos</a>
        </div>
        <div style="background-image: url('assets/img/banner-tienda-gato2.png')" class="fondo2-2 d-flex justify-content-center align-items-end">
          <a routerLink="/gatos"
            class="text-decoration-none Colortext bg-light bg-opacity-50 fs-2  px-3 rounded-top"> Para
            gatos</a>
        </div>
        <div style="background-image: url('assets/img/banner-tienda-gato3.png')" class="fondo2-3 d-flex justify-content-center align-items-end">
          <a routerLink="/gatos"
            class="text-decoration-none Colortext bg-light bg-opacity-50 fs-2 px-3 rounded-top">
            Para gatos</a>
        </div>
      </div>
    </div>
  </section> -->
  <div class="row">
    <div class="col-12 pt-5 ">
      <h5 class="Colortext fw-bold">Testimonio</h5>
      <p class="Colortext">Clientes felices</p>
      <div id="carouselExampleIndicators" class="carousel slide bg-light carrusel container pt-5" data-bs-ride="true">
        <div class="carousel-indicators ">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <span></span>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <span></span>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
          <span></span>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="d-flex">
              <div class="">
                <img src="assets/img/Testimonios.png" class="d-block w-100 " alt="...">
              </div>
              <div class="ps-5 ">
                <b class="Colortext">Tony</b>
                <p class="Colortext">5 años</p>
                <p class="pb-5">Gracias a Fashion Pets, pude encontrar ropa cómoda que se adapta
                  a mi estilo y me hace lucir muy bien.

                  Desde que utilizo las prendas de Fashion Pets, me siento más seguro de mi mismo,
                  guapo y a la moda.</p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-flex">
              <div class="">
                <img src="assets/img/Testimonio-2.png" class="d-block w-100 " alt="...">
              </div>
              <div class="ps-5">
                <b class="Colortext">Manuel</b>
                <p class="Colortext">2 años</p>
                <p class="pb-5">¡Me encanta la ropa de Fashion Pets!

                  La calidad de los materiales es excelente y lo mejor es que me hacen lucir muy guapo y a la moda.</p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-flex">
              <div class="">
                <img src="assets/img/Testimonio-3.png" class="d-block w-100 " alt="...">
              </div>
              <div class=" ps-5">
                <b class="Colortext">Abelardo</b>
                <p class="Colortext">8 años</p>
                <p class="pb-5">Fashion Pets conserva mi estilo clásico.

                  Con la ropa de Fashion Pets estoy a la vanguardia de la moda canina y luzco siempre elegante y sobrio
                  como me gusta.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 pt-5">
        <h5 class="Colortext fw-bold">Productos del mes</h5>
        <div class="container w-100">
          <div class="row d-flex justify-content-center align-items-center">

            <div class="row row-cols-1 row-cols-md-3 g-4">
              <div class="col-lg-4  col-sm-12 ">
                <div class="card h-100">
                  <img src="assets/img/producto-1-gatos.png" class="card-img-top w-50 mt-3 rounded mx-auto d-block"
                    alt="..."><br>
                  <div class="card-body">
                    <h6 class="card-title fs text-center">Smoking para gatos</h6>
                    <p class="precio text-center">$ 113.000</p>

                    <div class="input-group mb-3 px-5">
                      <span class="input-group-text">-</span>
                      <input type="text" class="form-control text-center" placeholder="0"
                        aria-label="Amount (to the nearest dollar)">
                      <span class="input-group-text">+</span>
                    </div>
                    <button type="button"
                      class="btn text-white fw-bold w-50 boton1 d-flex justify-content-center align-items-center">Agregar</button>
                  </div>

                </div>
              </div>
              <div class="col-lg-4  col-sm-12 ">
                <div class="card h-100">
                  <img src="assets/img/Producto perros 3.png" class="card-img-top w-50 mt-3 rounded mx-auto d-block"
                    alt="..."><br>
                  <div class="card-body">
                    <h6 class="card-title text-center">Chaqueta para perro doble faz</h6>
                    <p class="precio text-center">$ 130.000</p>
                    <div class="input-group mb-3 px-5">
                      <span class="input-group-text">-</span>
                      <input type="text" class="form-control text-center" placeholder="0"
                        aria-label="Amount (to the nearest dollar)">
                      <span class="input-group-text">+</span>
                    </div>
                    <button type="button"
                      class="btn text-white fw-bold w-50 boton1 d-flex justify-content-center align-items-center">Agregar</button>
                  </div>

                </div>
              </div>
              <div class="col-lg-4  col-sm-12 ">
                <div class="card h-100">
                  <img src="assets/img/producto-3-gatos.png" class="card-img-top w-50 mt-3 rounded mx-auto d-block"
                    alt="..."><br>
                  <div class="card-body">
                    <h6 class="card-title text-center">Sueter para gatos</h6>
                    <p class="precio text-center">$ 96.000</p>
                    <div class="input-group mb-3 px-5">
                      <span class="input-group-text">-</span>
                      <input type="text" class="form-control text-center" placeholder="0"
                        aria-label="Amount (to the nearest dollar)">
                      <span class="input-group-text">+</span>
                    </div>
                    <button type="button"
                      class="btn text-white fw-bold w-50 boton1 d-flex justify-content-center align-items-center">Agregar</button>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="Col-12 py-5 border contactos my-3 ps-3" id="contactenos">


    <form [formGroup]="contactoForm" (ngSubmit)="crearContacto()" class="">
      <h5 class="Colortext fw-bold">Contáctanos</h5>
      <div class="px-3 d-lg-flex d-md-block">
        <div>
          <p class="d-flex flex-column Colortext">¿Tienes dudas o inquietudes?
            <span class="Colortext">Déjanos un mensaje y nos pondremos en contacto.</span>
          </p>
          <div class="col-lg-6 col-md-12 px-lg-5 px-md-0 w-100">
            <input type="text" formControlName="nombre" placeholder="Tu nombre" class=" form-control w-100 ">
            <span *ngIf="contactoForm.get('nombre')?.hasError('required') && contactoForm.get('nombre')?.touched" class="text-danger ps-1 fw-bold">Debes poner un nombre</span>
            <div class="d-lg-flex d-md-block">
              <div>
                <input type="email" formControlName="correo" placeholder="Tu correo electronico" class=" me-2 form-control my-2 ">
              <span *ngIf="contactoForm.get('correo')?.hasError('required') && contactoForm.get('correo')?.touched" class="text-danger ps-1 fw-bold">Debes poner un correo</span>
              </div>
              <div>
                <input type="tel" formControlName="numero" placeholder="Tu número de celular " class="form-control my-2  ">
              <span  *ngIf="contactoForm.get('numero')?.hasError('required') && contactoForm.get('numero')?.touched" class="text-danger ps-1 fw-bold">Debes poner un numero</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="w-75">
            <label for="">Tu mensaje</label>
            <textarea class="form-control bg-light " formControlName="mensaje" cols="10" rows="5"></textarea>
            <div class="d-flex justify-content-end align-items-end">
              <button class="btn colorEnviar mt-2 px-4 " type="submit" [disabled]="contactoForm.invalid"   >Enviar</button>
            </div>
          </div>

        </div>
      </div>

    </form>
  </div>

</section>
