<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

</body>

</html>
<section class="container">
  <div class="row">
    <div class="col-12 text-center pt-5  ">
      <div class="Pets">
        <h3 class="fw-bold">Lista de Contactos</h3>

      </div>
    </div>
  </div>
</section>

<section class="container">
  <div class="d-flex justify-content-between  mb-3">
    <a class=" panel ps-5 ms-5" routerLink="/administrador"><i class="fa-solid fa-house"></i></a>
  </div>
  <table class="table">
    <thead>
      <tr>

        <th scope="col" class="text-center">Nombre</th>
        <th scope="col" class="text-center">Correo</th>
        <th scope="col" class="text-center">Numero</th>
        <th scope="col" class="text-center">Mensaje</th>
        <th scope="col" class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contacto of listaContactos">
        <td> {{contacto.nombre}}</td>
        <td>{{contacto.correo}}</td>
        <td>{{contacto.numero}}</td>
        <td>{{contacto.mensaje}}</td>

        <td>
          <button class="btn btn-info mx-3" [routerLink]="['/editarcontacto', contacto._id]">
            <i class="fa-solid fa-pen"></i>
          </button>
          <button class="btn btn-danger mx-3" (click)=" eliminarContacto(contacto._id)">
            <i class="fa-solid fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</section>
